$font-body: "Manrope", sans-serif;

:root {
   
            --swiper-wrapper-transition-timing-function: linear !important;
       
    --primary-red: rgba(150, 0, 20, 1);
    --text-red: rgba(188, 0, 26, 1);
    --dark-red: rgba(88, 0, 12, 1);
    --light-bg: rgba(255, 255, 255, 1);
    --white-80: rgba(255, 255, 255, 0.8);
    --dark-normal: rgba(0, 0, 0, 1);
    --dark-60: rgba(0, 0, 0, 0.6);
    --dark-80: rgba(0, 0, 0, 0.8);
    --text-dark: #333;
    --color-white: #FFFFFF;
    --gold: #D4AF37;

    /* Fonts */
    --font-primary: "Figtree", sans-serif;
    --font-secondary: "Inter", sans-serif;
}


