.contact-us-section {
    background-color: #F7F7F7;


    .contact-container {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        padding: 128px 232px;

        @media (max-width: 1800px) {
            padding: 100px 100px;
        }

        @media (max-width: 1400px) {
            padding: 80px 60px;
        }

        @media (max-width: 1200px) {
            padding: 80px 40px;
        }

        @media (max-width: 768px) {
            padding: 70px 25px;
        }

        .contact-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 66px;

            @media (max-width: 1024px) {
                grid-template-columns: 1fr;
                gap: 40px;
            }

            .contact-header {
                h1 {

                    margin-bottom: 20px;
                    color: var(--dark-normal);
                }

                p {
                    color: var(--dark-80);
                    font-family: var(--font-secondary);
                    margin-bottom: 60px;
                }
            }

            .contact-left {
                max-width: 682px;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                @media (max-width: 616px) {
                    grid-template-columns: 1fr;
                }

                .office-address-content {
                    padding-right: 40px;
                    border-right: 1px solid rgba(0, 0, 0, 0.1);
                    height: 416px;

                    @media (max-width: 616px) {
                        border-right: none;
                        padding-right: 0px;
                        height: 100%;
                    }

                    h3 {
                        color: rgba(150, 0, 20, 1);
                        line-height: 130%;
                        margin-bottom: 40px;
                    }

                    .office-section {
                        margin-bottom: 40px;

                        h3 {
                            color: var(--dark-normal);
                            line-height: 130%;
                            margin-bottom: 8px;
                        }

                        p {
                            font-size: 16px;
                            font-family: var(--font-primary);
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0;
                            color: var(--dark-normal);
                            cursor: pointer;

                            @media (max-width: 1030px) {
                                line-height: 100%;
                            }
                        }

                        &--link {
                            text-decoration: none;
                            display: block;
                            cursor: pointer;
                            transition: opacity 0.2s ease;

                            &:hover {
                                opacity: 0.85;
                            }
                        }
                    }
                }

                .office-cotact-info {
                    padding-left: 40px;

                    @media (max-width: 616px) {
                        padding-left: 0px;
                    }

                    .email-section {
                        margin-bottom: 40px;

                        h3 {
                            color: rgba(150, 0, 20, 1);
                            margin-bottom: 8px;
                        }

                        a {
                            line-height: 24px;
                            color: var(--dark-normal);
                            text-decoration: none;

                            &:hover {
                                color: #c41e3a;
                            }
                        }
                    }

                    .office-section {
                        margin-bottom: 40px;

                        h3 {
                            color: rgba(150, 0, 20, 1);
                            line-height: 130%;
                            margin-bottom: 8px;
                        }

                        p {
                            font-size: 16px;
                            font-family: var(--font-primary);
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0;
                            color: var(--dark-normal);

                            @media (max-width: 1030px) {
                                line-height: 100%;
                            }
                        }
                    }
                }
            }


            .contact-right {

                // width: 708px;
                // width: 100%;
                .wpcf7-response-output {
                    border-color: transparent !important;
                }

                .contact-form {
                    position: relative;
                    padding: 40px;
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 12px;

                    @media (max-width: 616px) {
                        padding: 20px;
                    }

                }

                .form-group {
                    margin-bottom: 24px;
                }

                .form-group label {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 16px;
                    font-family: var(--font-primary);
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0;
                    color: var(--dark-normal);

                    @media (max-width: 1030px) {
                        line-height: 100%;
                    }
                }

                .form-group input,
                .form-group textarea,
                .form-group select {
                    width: 100%;
                    padding: 16px 20px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                    transition: border-color 0.3s ease;
                    background-color: rgba(255, 255, 255, 1);
                    font-size: 16px;
                    font-family: var(--font-primary);
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0;
                    color: rgba(0, 0, 0, 0.4);

                    @media (max-width: 1030px) {
                        line-height: 100%;
                    }


                }

                .form-group input:focus,
                .form-group textarea:focus,
                .form-group select:focus {
                    outline: none;
                    border-color: none;
                    background-color: #fcfcfc;
                }

                .form-group select {
                    cursor: pointer;
                    appearance: none;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13 6L8 11L3 6' stroke='%23000' stroke-opacity='0.6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: right 15px center;
                    padding-right: 40px;
                }

                .form-group textarea {
                    resize: vertical;
                    height: 160px;
                }

                .form-row {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 12px;

                    @media (max-width: 616px) {
                        gap: 0px;
                        grid-template-columns: 1fr;

                    }
                }


                .submit-button {
                    padding: 6px 10px;
                    border: 1px solid #d0d0d0;
                    transition: border-color 0.3s;
                    width: fit-content;
                    cursor: pointer;
                    color: var(--dark-normal);
                    border-radius: 100px;
                    background-color: var(--primary-red);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 24px;
                }
    
                .submit-button::after {
                    content: "";
                    width: 44px;
                    height: 44px;
                    background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='44' height='44' rx='22' fill='white'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M16.166 17H26.9993V27.8333' stroke='%23BC001A' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M16 28L27 17' stroke='%23BC001A' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white' transform='translate(12 12)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                    flex-shrink: 0;
                    @media (max-width: 900px) {
                        width: 36px;
                        height: 36px;
                    }
                }
    
                .submit-button button {
                    border: none;
                    background: transparent;
                    color: var(--color-white);
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    font-family: var(--font-primary);
                    line-height: 24px;
                    cursor: pointer;
                    margin-left: 13px;

                    
                }
            }









        }



        /* Responsive */

    }
}