


.insights-details-testimonials {
    padding: 60px 0;

    .details-testimonial-container {
        max-width: 904px;
        width: 100%;
        margin: 0 auto;

        .testimonial-card {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 20px;
            border: 1px solid rgba(0, 0, 0, 0.1);

            .quote-mark {
                margin-bottom: 20px;
            }

            .testimonial-content {
                display: flex;
                flex-direction: column;

                .heading-four {
                    margin-bottom: 30px;
                    color: rgba(20, 20, 20, 0.8);
                }

                .body-text-three {
                    line-height: 120%;
                    color: var(--dark-60);
                }
            }
        }
    }
}